# node modules
deploy-server/node_modules/
deploy-server/node_modules/*
deploy-server/node_modules

.DS_Store

deploy-server/.env
songs/
songs/*
songs

client/node_modules
client/node_modules/*
client/node_modules/
client/.env

deploy-server/.DS_Store